.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 2px solid red;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

img {
  display: block;
}

ul {
  list-style: none;
  /*display: flex;*/
}

a {
  text-decoration: none;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

link {
  text-decoration: none;
}

list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.section {
  padding-top: 94px;
  /*padding-bottom: 94px;*/
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-btn {
  display: inline-flexbox;
  border-style: none;
  /*min-width: 200px;*/
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*width: 200px;
  height: 50px;
  /*margin: 10px, 32px;*/
  /*padding: 10px, 32px;*/
}

.modal-btn:hover, .modal-btn:focus {
  background-color: white;
  color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

.social-networks-list {
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 32px;
  display: inline-flex;
  align-items: center;
}

.social-networks-icon {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.social-networks-item:hover {
  /*background-color: var(--hover-color);
  fill: #ffffff;
}*/
.social-networks-icon {
  fill: #757575;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*fill: #ffffff;*/
}

.social-networks-icon:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 94px 15px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -200%);
  transition: all 500ms linear 0ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .modal {
    position: relative;
    width: 450px;
    min-width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.close-pic {
  /*position: absolute;*/
  width: 18px;
  height: 18px;
  /*top: 0;
  left: 0;*/
  fill: currentColor;
  /*justify-content: center;
  align-items: center;*/
  /*padding-top: 8px;
  padding-bottom: 10px;*/
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #2196f3;
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.information-field-wrapper {
  position: relative;
  /*margin-top: 10px;*/
}

.information-form {
  display: flex;
  flex-direction: column;
}

.information-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.information-input:focus,
.form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.information-input:focus + .form-icon {
  fill: #2196f3;
}

.form-field {
  position: relative;
  margin-bottom: 4px;
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-icon {
  position: absolute;
  /*bottom: -37px;*/
  top: 50%;
  left: 12px;
  /*transform: translateY(-50%);*/
}

.text-comment {
  margin-top: 10px;
}

/*visually-hidden*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*end of .visually-hidden*/
.agreement-policy {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-terms {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: #2196f3;
}

.information-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid #000;
  margin-right: 8px;
}

.form-policy:checked + .information-form-policy-label::before {
  background-color: #2196f3;
  background-image: url(../svg/chek.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.information-form-btn {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
  position: relative;
}

.header-menu-button {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }
}

.header-menu-button .icon-cross {
  display: none;
}

.header-menu-button.is-open .icon-cross {
  display: block;
}

.header-menu-button.is-open .icon-menu {
  display: none;
}

.navigate {
  outline: 2px solid green;
}

.conact {
  outline: 2px solid orange;
}

/*.header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/
.menu-container {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu-container-is-open {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  /*padding-bottom: 60px;
  /*z-index: 999;*/
}

.icon-menu,
.icon-cross {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .logo-link {
    margin-right: 284px;
  }
}

.logo-web {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
}

.navigation {
  display: flex;
  align-items: center;
  /*@media screen and (maxn-width: 768px) {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
  }*/
}

.navigation-list {
  display: flex;
  margin-left: 92px;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
  }
}

.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-link {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover, .navigation-link:focus {
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover::after, .navigation-link:hover::after, .navigation-link:focus::after, .navigation-link:focus::after {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: flex;
  font-style: normal;
}

.address-list {
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: 305px;
}

@media screen and (max-width: 767px) {
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.address-list-item:not(:last-child) {
  margin-right: 30px;
}

.address-mail-link {
  display: flex;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .address-mail-link {
    display: block;
    margin-bottom: 10px;
  }
}

.address-mail-link:hover, .address-mail-link:focus {
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-tel-link {
  display: flex;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .address-tel-link {
    display: block;
    /*margin-bottom: 10px;*/
  }
}

.address-mail-link, .address-tel-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

.address-mail-link:hover, .address-mail-link:focus, .address-tel-link:hover, .address-tel-link:focus {
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail-envelope {
  /*display: block;*/
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentcolor;
  /*background-color: var(--accent-color);*/
}

.address-tel-smart {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.current-page-studio::after,
.current-page-portfolio::after {
  content: "";
  display: block;
  width: 100%px;
  height: 4px;
  background-color: #2196f3;
  bottom: -30px;
  position: relative;
  border-radius: 2px;
}

/*.nav-list-item {
  position: relative;
}*/
.address-mail-link:hover .address-mail-envelope,
.address-tel-link:hover .address-tel-smart,
.address-mail-link:focus .address-mail-envelope,
.address-tel-link:focus .address-tel-smart {
  fill: #2196f3;
}

/*.menu {
}*/
.hero {
  border-top: #757575;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imj/hero-imj-compressed.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  text-align: center;
}

.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
  }
}

.advantage {
  /*&-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }*/
}

.advantage-list {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.advantage-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.advantage-description {
  /*padding: 270px, 75px;*/
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantage-list-item::before {
  content: "";
  /*width: 270px;*/
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .advantage {
    /*display: block;*/
  }
  .advantage-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantage-list-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list {
    display: flex;
    padding-top: 90px;
    padding-bottom: 94px;
    margin-right: -30px;
  }
  .advantage-list-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.pic-antena::before {
  background-image: url(../svg/antenna.svg);
}

.pic-clock::before {
  background-image: url(../svg/clock.svg);
}

.pic-diagram::before {
  background-image: url(../svg/diagram.svg);
}

.pic-astronaut::before {
  background-image: url(../svg/astronaut.svg);
}

.section-profile {
  margin-top: 94px;
  margin-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-profile {
    display: none;
  }
}

.profile-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.profile-description {
  display: flex;
  justify-content: space-between;
}

.profile-list-img {
  margin-right: 30px;
  margin-left: 0px;
  width: 370px;
  height: 294px;
}

.profile-pic-last {
  position: relative;
  margin-left: 0px;
}

.profile-pic {
  position: relative;
}

.profile-item {
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.profile-label {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.workers {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .workers {
    padding-bottom: 30px;
    padding-top: 60px;
  }
}

.team-title {
  margin-bottom: 50px;
  border-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .team-title {
    font-size: 28px;
  }
}

.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    display: block;
    flex-wrap: nowrap;
  }
}

.team-item {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .team-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.member-description {
  margin-top: 30px;
}

.member-list-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.socials-list {
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-icon {
  display: inline-flex;
  width: 44px;
  height: 44px;
  /*margin-right: 10px;*/
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: #757575;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*fill: #ffffff;*/
}

.socials-icon:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

/*.social-networks-item:hover {
  /*background-color: var(--hover-color);
  fill: #ffffff;
}*/
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  /*&-list {
    display: inline-flex;
    align-items: center;
    /*margin-right: 215px;
  }*/
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  margin-bottom: 30px;
  border-top: 0px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*margin: -15px;*/
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .clients-item {
    /*.client-list-item {*/
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc(100% / 6 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.company {
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
  /*margin-right: 10px;*/
  border-radius: 4px;
  border: 1px solid #757575;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*margin-right: 30px;*/
}

.company:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

/*tot*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
}

.footer-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-list-map {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 8px;
}

.footer-list-mail, .footer-list-tel {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}

.footer-list-mail:hover, .footer-list-tel:hover, .footer-list-mail:focus, .footer-list-tel:focus {
  color: #2196f3;
}

.footer-socials {
  display: flex;
  margin-top: 12px;
  margin-left: 70px;
  flex-direction: column;
}

.footer-socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: start;
  margin-bottom: 20px;
  font-style: normal;
}

.footer-socials-list {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.footer-socials-item {
  display: flex;
  flex-direction: column;
}

.footer-socials-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icon:hover, .footer-socials-icon:focus {
  background-color: #2196f3;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/*end of tot*/
/*767-max*/
@media screen and (max-width: 767px) {
  .logo-container {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .footer-socials {
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
    margin-left: 0px;
  }
  .form-wraper {
    display: flex;
    margin-top: 52px;
    /*margin-left: 93px;*/
    flex-direction: column;
    align-items: center;
  }
  .subscribe-form {
    display: block;
    align-items: center;
  }
  .subscribe-form-input {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
  }
  .subscribe-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    margin-left: 25%;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 1.143;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-align: left;
    border-style: none;
    background-color: #2196f3;
    border-radius: 4px;
    cursor: pointer;
  }
  .subscribe-button::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    /*border-radius: 4px;*/
  }
  .iconsend::after {
    background-image: url(../svg/iconsend.svg);
  }
  .logo-studio-footer {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

/*end of 768-max*/
/*min-768 - max-1199*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-right: 165px;*/
  }
  .footer-socials {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0px;
  }
  .form-wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-form {
    display: inline-flex;
    align-items: center;
  }
  .subscribe-form-input {
    width: 358px;
    height: 50px;
    /*padding-top: 15px;
  padding-bottom: 15px;*/
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
  }
  .subscribe-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 1.143;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-align: left;
    border-style: none;
    background-color: #2196f3;
    border-radius: 4px;
    cursor: pointer;
  }
  .subscribe-button::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    /*border-radius: 4px;*/
  }
  .logo-studio-footer {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .iconsend::after {
    background-image: url(../svg/iconsend.svg);
  }
}

/*end of min-768 - max1199*/
/*min1200*/
@media screen and (min-width: 1200px) {
  .footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-address {
    display: flex;
    /*flex-wrap: wrap;*/
    font-style: normal;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .footer-list-map {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 8px;
  }
  .footer-list-mail, .footer-list-tel {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
  }
  .footer-list-mail:hover, .footer-list-tel:hover, .footer-list-mail:focus, .footer-list-tel:focus {
    color: #2196f3;
  }
  .footer-socials {
    display: flex;
    margin-top: 12px;
    margin-left: 70px;
    flex-direction: column;
  }
  .footer-socials-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: start;
    margin-bottom: 20px;
    font-style: normal;
  }
  .footer-socials-list {
    display: flex;
    width: 206px;
    justify-content: space-between;
  }
  .footer-socials-item {
    display: flex;
    flex-direction: column;
  }
  .footer-socials-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-socials-icon:hover, .footer-socials-icon:focus {
    background-color: #2196f3;
  }
  .footer-svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  .logo-container {
    display: block;
    margin-bottom: 20px;
    /*text-align: center;*/
  }
  .form-wraper {
    display: flex;
    margin-top: 12px;
    margin-left: 93px;
    flex-direction: column;
  }
  .subscribe-form {
    display: inline-flex;
    align-items: center;
  }
  .subscribe-form-input {
    width: 358px;
    height: 50px;
    /*padding-top: 15px;
  padding-bottom: 15px;*/
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
  }
  .subscribe-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 1.143;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-align: left;
    border-style: none;
    background-color: #2196f3;
    border-radius: 4px;
    cursor: pointer;
  }
  .subscribe-button::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    /*border-radius: 4px;*/
  }
  .logo-studio-footer {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .iconsend::after {
    background-image: url(../svg/iconsend.svg);
  }
}

/*end of min-1200*/
/*.subscribe-button {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        height: 50px;
        padding: 10px 29px;
        margin-left: 12px;
        font-weight: 700;
        font-size: 16px;
        font-style: normal;
        line-height: 1.143;
        letter-spacing: 0.06em;
        color: #ffffff;
        text-align: left;
        border-style: none;
        background-color: $hover-color;
        border-radius: 4px;
        cursor: pointer;

        &::after {
          display: block;
          content: "";
          width: 24px;
          height: 24px;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          /*border-radius: 4px;
        }
      }*/
/*.iconsend::after {
        background-image: url(../svg/iconsend.svg);
      }*/
/*.logo-studio-footer {
      font-family: "Raleway", sans-serif;
      text-decoration: none;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 31px;
      /* identical to box height 
      letter-spacing: 0.03em;
      color: #ffffff;
    }

    /*footer address {
  
}*/
/*.footer-first {
  margin-right: 80px;
}*/
/*.form-wraper {
  display: flex;
  margin-top: 12px;
  margin-left: 93px;
  flex-direction: column;
}
/*.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: start;
  margin-bottom: 20px;
  font-style: normal;
}*/
/*.subscribe-form {
  display: inline-flex;
  align-items: center;

  &-input {
    width: 358px;
    height: 50px;
    /*padding-top: 15px;
  padding-bottom: 15px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
  }
}
.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: left;
  border-style: none;
  background-color: $hover-color;
  border-radius: 4px;
  cursor: pointer;

  &::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    /*border-radius: 4px;
  }
}*/
.iconsend::after {
  background-image: url(../svg/iconsend.svg);
}
/*# sourceMappingURL=main.css.map */