.advantage {
  &-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    /*width: 270px;*/
  }
  &-list-item {
    width: 270px;
  }
  &-list-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  &-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-color;
  }
  &-title {
    /*margin-top: 0px;*/
    margin-bottom: 10px;
  }
  &-description {
    /*margin-bottom: 94px;*/
    padding: 270px, 75px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $accent-color;
  }
}
.pic-antena::before {
  background-image: url(../svg/antenna.svg);
}
.pic-clock::before {
  background-image: url(../svg/clock.svg);
}
.pic-diagram::before {
  background-image: url(../svg/diagram.svg);
}
.pic-astronaut::before {
  background-image: url(../svg/astronaut.svg);
}

/*.last {
  margin-bottom: 0px;
}
/*.advantage-list,
.advantage-list-item,*/

/*.advantage-item::before {
  content: "";
  width: 270px;
  height: 120px;
}*/
