.hero {
  border-top: $accent-color;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imj/hero-imj-compressed.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  &-container {
    text-align: center;
  }
  &-title {
    max-width: 696px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
    }
  }
}
